*{margin: 0;}

body{width: 100%; height: 100%;}
header{width: 100%;}

main{width: 100%; height: 100%;}

.logo{margin-left: 15px;}

/*Fonte Externa*/
@font-face {font-family: montserrat; src: url(fonte/Montserrat-Italic-VariableFont_wght.ttf);}
.montserrat{font-family: montserrat; }


/*Para ficar um de cada lado*/
.esquerda{justify-content: flex-start;  display: flex;background-color:#40BEF4; position: relative; width: 80%; float: left; height: 85px;}
.direita{justify-content: flex-end;  display: flex; background-color: #40BEF4; position: relative; width: 20%; float: left; height: 85px;}


/*Barra de Pesquisa*/
.pesquisa{margin-left: 85px; margin-top: 20px; background-color: #fff; height: 44px; border-radius: 5px 5px 5px 5px;}
#searchTerm{width: 580px; height: 30px; border: 1px solid #ccc; border-right: none; padding: 6px; border-radius: 5px 0 0 5px;}
.searchButton{width: 55px; height: 45px; border: 1px solid #ccc; border-radius: 0 3px 3px 0; cursor: pointer; 
background-color: #fff; text-align: center;}

/*Icones da Header*/
.custom-btn-btn-1{width: 130px; height: 40px; margin-right: 30px; border-radius: 10px; background-color: #0868889f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.251); margin-top: 25px; border: 3px;}
    .custom-btn-btn-1 a{text-decoration: none; color: #000;}

.custom-btn-btn-2{width: 60px; height: 40px; margin-right: 40px; border-radius: 10px; background-color: #40bef4c0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin-top: 25px; border: 3px;}
    .custom-btn-btn-2 a{text-decoration: none; color: #000;}

.custom-btn-btn-3{width: 60px; height: 40px; margin-right: 30px; border-radius: 10px; background-color: #40bef4b2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin-top: 25px; border: 3px;}
    .custom-btn-btn-3 a{text-decoration: none; color: #000;}

/*Fim da Header*/


/*Nav*/
#menu{position: relative;}
#menu ul li{float: left; width: auto; margin: 9px; font-size: 18px; list-style: none;margin-left: 30px;}
#menu ul li a{text-decoration: none; color: #000;}
#menu ul li a:hover{border-bottom: 3px solid #ffdd1e;}
/*Fim do nav*/

/*Castração Titulo*/
.titulo{position: relative; background-color: #40BEF4; width: 300px; height: 100px; top: 170px; 
    border-radius: 20px; right: 20px;}
#castracao_titulo{position: absolute; top: 30px; width: 260px; height: 40px; left: 42px; color: #fff;}
/*Fim Castração Titulo*/

.imagem_coelho{position: absolute; background-color: #000; width: 600px; left: 670px; height: 250px; top: 100px;}
.imagem_coelho img{width: 100%; height: 100%;}

/*Formulário Castração*/
.cadastro_castracao{position: relative; left: 12px; top: 200px; width: 50%;}
#tutor, #celular, #raca, #porte, #idade{width: 200px;}
.cadastro_castracao label input{margin: 10px;}
.cadastro_castracao button{background-color: #086888c5; border: 1px solid #000; border-radius: 10px; 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); font-size: 18px;}
    .cadastro_castracao button a{text-decoration: none; color: #000;}
.cadastro_castracao h4{width: 850px;}
/*Fim do Formulário*/

/*Começo do Campo de texto e imagens - Campo Cachorro e Mito*/
.text_castracao{background-color: rgb(241, 241, 241); position: relative; width: 1300px; height: 700px; top: 250px; 
    left: 20px;}
#titulo1{position: relative; text-align: center; top: 25px;}
.fundo_img1{position: relative; background-color: #40BEF4; width: 500px; height: 250px; left: 50px; top: 65px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);}
.img1{position: absolute; background-color: #000; left: 20px; top: 20px; width: 500px; height: 250px; 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);}
.img1 img{width: 100%; height: 100%;}

#titulo2{position: absolute; left: 610px; color: #40BEF4; top: 130px;}
#texto_mito{position: absolute; top: 175px; width: 48%; left: 610px;}
/*Fim do Campo cachorro e Mito*/

/*Começo do campo gato e verdade*/

.fundo_img2{position: absolute; background-color: #E4DE3A; width: 500px; height: 250px; left: 750px; bottom: 70px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);}
 .img2{position: absolute; background-color: #000; right: 20px; top: 20px; width: 500px; height: 250px; 
        box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);}
    .img2 img{width: 100%; height: 100%;}

    #titulo3{position: absolute; bottom: 210px; left: 40px; color: #40BEF4;}
    #texto_verdade{position: absolute; width: 48%; left: 40px; bottom: 95px;}
/*Fim do campo gato e verdade*/

/*Footer*/
footer{width: 100%; color: #000; background-color: #ccc; margin-top: 300px; height: auto; position: relative;}
footer .social{font-size: 25px; margin-top: 50px; margin-right: 10px; width: 10%;}
#siga{font-size: 13px; margin-bottom: 10px;}
footer .box{display: flex; padding-bottom: 30px;}
footer #info{width: 25%; margin-left: 15px;}
footer #info ul{list-style: none; display: inline; font-size: 12px;}
footer #info ul li{margin-top: 8px;}

@media only screen and (max-width:576px)
{

    body{
        margin:0;
        height: auto;
        width: auto;
    }

    main{
        height: auto;
        width: auto;
    margin:5%;
    align-items: center;
    }

    #menu{
        display: block;
        
    }
    #menu ul li{
        display: block;
        width: 100%; 
        font-size: 20px; 
        list-style: none;
        
    }

    #menu ul li a{
        display: block;
        text-decoration: none;
        color: #000;
        text-align: center;
        background-color: #40bef490;
        margin-right: 26%;
        border-radius: 20%;
    }
    #menu ul li a:hover{
        border-bottom: 3px solid #ffdd1e;
        background-color: #FFF;
    }

    .pesquisa{
        display: none;
    }

    .direita{
        display: none;
    }
    .esquerda{
        width: 100%;
    }
    .titulo{
        position: relative;
        background-color: #40BEF4;
        width: 300px; 
        height: 100px; 
        top: 470px; 
        border-radius: 20px;
        right: 20px;
    }
    .text_castracao{
        background-color: rgb(241, 241, 241); 
        position: relative; 
        width: auto; 
        height:100%; 
        top: 250px; 
        left:5px;
    }
    #titulo1{
        position: relative; 
        text-align: center; 
        top: 25px;
    }
   .fundo_img1{
    position: relative; 
    background-color: #40BEF4;
    width: auto; 
    height: 250px; 
    left: 50px;
    top: 65px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 20%;

}
    .img1{
    position: relative; 
    background-color: #000;
    left: 20px; 
    top: 20px;
    width: auto;
    height: 250px; 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
   .img1 img{
    width: 100%;
     height: 100%;
    }
    #titulo3{
        position: relative;
        left: 15px;
        margin-top: 450px;
        color: #40BEF4;
    }
        
    #texto_verdade{
       
        position: relative;
        width: 60%; 
        left: 40px;
       
        
        }

    #titulo2{
        position: relative;
        left: 40px;
        color: #40BEF4;
    }
    #texto_mito{
        position: relative;
        width: 60%; 
        left: 40px;
       
    }
    .fundo_img2{
        position: relative;
        background-color: #E4DE3A; 
        width: 90%;
        height: 260px;  
        left: 20px; 
        top: 200px;
        bottom: 70px;
        box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    }
      .img2 img{
            width: 100%;
            height: 100%;
            }
    .img2{
        position:relative;
        background-color: #000;
        right: 20px;
        top: 25px; 
        width: 90%;
        height: 250px; 
        box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);}

    .imagem_coelho{
        display: none;
    }
    h4{
       display: none;
    }
    .imagem_coelho img{
        display: none;}

        footer .social{
            font-size: 15px; 
            margin-right: 30%;
            width: 10%;
            display:flex;
            margin-left: 5%;
         }

         #siga{
            display: none;
            }
}

@media only screen and (min-width:577px){
    @media only screen and (max-width:768px)
   {

    body{
        margin:0;
        height: auto;
        width: auto;
    }

    main{
        height: auto;
        width: auto;
    margin:5%;
    align-items: center;
    }

    #menu{
        display: block;
        
    }
    #menu ul li{
        display: block;
        width: 100%; 
        font-size: 20px; 
        list-style: none;
        
    }

    #menu ul li a{
        display: block;
        text-decoration: none;
        color: #000;
        text-align: center;
        background-color: #40bef490;
        margin-right: 25%;
        border-radius: 20%;
    }
    #menu ul li a:hover{
        border-bottom: 3px solid #ffdd1e;
        background-color: #FFF;
    }

    .pesquisa{
        display: none;
    }

    .direita{
        display: none;
    }
    .esquerda{
        width: 100%;
    }
    .titulo{
        position: relative;
        background-color: #40BEF4;
        width: 300px; 
        height: 100px; 
        top: 470px; 
        border-radius: 20px;
        right: 20px;
    }
    .text_castracao{
        background-color: rgb(241, 241, 241); 
        position: relative; 
        width: auto; 
        height:auto; 
        top: 250px; 
        left:5px;
    }
    #titulo1{
        position: relative; 
        text-align: center; 
        top: 25px;
    }
   .fundo_img1{
    position: relative; 
    background-color: #40BEF4;
    width: auto; 
    height: 250px; 
    left: 50px;
    top: 65px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 20%;

}
    .img1{
    position: relative; 
    background-color: #000;
    left: 20px; 
    top: 20px;
    width: auto;
    height: 250px; 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
   .img1 img{
    width: 100%;
     height: 100%;
    }
    #titulo3{
        position: relative;
        left: 30px;
        margin-top: 100%;
        color: #40BEF4;
    }
        
    #texto_verdade{
        position: absolute;
        width: 70%; 
        left: 40px;
        top:85%;
      
        
        }

    #titulo2{
        position: relative;
        left: 40px;
        color: #40BEF4;
    }
    #texto_mito{
        position: relative;
        width: 60%; 
        left: 40px;
       
    }
    .fundo_img2{
        position: relative;
        background-color: #E4DE3A; 
        width: 90%;
        height: 260px;  
        left: 20px; 
        top: 200px;
        bottom: 70px;
        box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    }
      .img2 img{
            width: 100%;
            height: 100%;
            }
    .img2{
        position:relative;
        background-color: #000;
        right: 20px;
        top: 25px; 
        width: 90%;
        left:1px;
        height: 250px; 
        box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);}

    .imagem_coelho{
        display: none;
    }
    .imagem_coelho img{
        display: none;}

        footer .social{
            font-size: 25px; 
            margin-right: 20%;
            width: 10%;
            display:flex;
            margin-left: 5%;
         }

         #siga{
            display: none;
            }
   }
}